name: CI

on:
  push:
    branches:
      - main
      - dev
      - uat
      - develop
  pull_request:
    branches:
      - main
      - dev
      - uat
      - develop

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Debug Check pnpm version
        run: pnpm -v

      - name: Install dependencies
        run: pnpm install

      - name: Lint code with ESLint
        run: pnpm lint

      - name: Build
        run: pnpm build