name: CI

on:
  push:
    branches: [ "main", "dev", "feat/lmd-gitaction" ]
  pull_request:
    branches: [ "main", "dev", "feat/lmd-gitaction" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore 
    - name: Build
      run: dotnet build 
    # - name: Test
    #   run: dotnet test --no-build --verbosity normal
    #   run: dotnet test DGC.eKYC.Tests/DGC.eKYC.Tests.csproj --no-build --verbosity normal